pre.wp-block-code code {
color: #abb2bf;
padding-left: 0;
border: none;
overflow-x: initial;
}
code[class*='language-'],
pre[class*='language-'] {
color: #abb2bf;
background: none;
font-family: Hack, 'Fira Code', Consolas, Menlo, Monaco, 'Andale Mono',
'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
'Courier New', Courier, monospace;
line-height: 1.5;
text-align: left;
white-space: pre;
word-spacing: normal;
word-break: normal;
word-wrap: normal;
-moz-tab-size: 4;
-o-tab-size: 4;
tab-size: 4;
-webkit-hyphens: none;
-moz-hyphens: none;
-ms-hyphens: none;
hyphens: none;
}
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
text-shadow: none;
background: #d84315;
color: #fff;
}
@media print {
code[class*='language-'],
pre[class*='language-'] {
text-shadow: none;
}
} pre.wp-block-code {
background: #282c34;
padding: 1rem;
margin: 0.5em auto;
overflow: auto;
border-radius: 8px;
border: none;
} .entry .entry-content .wp-block-code {
border-radius: 8px !important;
border: none;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
color: #5c6370; border: none; padding-left: 0;
}
.token.punctuation {
color: #abb2bf;
}
.token.selector,
.token.tag {
color: #e06c75;
}
.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
color: #d19a66;
}
.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
color: #98c379;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
color: #56b6c2;
}
.token.atrule,
.token.keyword {
color: #c678dd;
}
.token.function {
color: #61afef;
}
.token.regex,
.token.important,
.token.variable {
color: #c678dd;
}
.token.important,
.token.bold {
font-weight: bold;
}
.token.italic {
font-style: italic;
}
.token.entity {
cursor: help;
}
pre.line-numbers {
position: relative;
padding-left: 3.8em;
counter-reset: linenumber;
}
pre.line-numbers > code {
position: relative; padding-top: 0 !important;
}
.line-numbers .line-numbers-rows {
position: absolute;
pointer-events: none;
top: 0;
font-size: 100%;
left: -3.8em;
width: 3em; letter-spacing: -1px;
border-right: 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.line-numbers-rows > span {
pointer-events: none;
display: block;
counter-increment: linenumber;
}
.line-numbers-rows > span:before {
content: counter( linenumber );
color: #5c6370;
display: block;
padding-right: 0.8em;
text-align: right;
}
.prism-titlename {
margin: -16px -16px 24px -16px;
padding: 4px 16px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
font-weight: bold;
color: orange;
background-color: #383c44;
}.wpcf7 .screen-reader-response {
position: absolute;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
word-wrap: normal !important;
}
.wpcf7 form .wpcf7-response-output {
margin: 2em 0.5em 1em;
padding: 0.2em 1em;
border: 2px solid #00a0d2; }
.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
border-color: #46b450; }
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
border-color: #dc3232; }
.wpcf7 form.spam .wpcf7-response-output {
border-color: #f56e28; }
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
border-color: #ffb900; }
.wpcf7-form-control-wrap {
position: relative;
}
.wpcf7-not-valid-tip {
color: #dc3232; font-size: 1em;
font-weight: normal;
display: block;
}
.use-floating-validation-tip .wpcf7-not-valid-tip {
position: relative;
top: -2ex;
left: 1em;
z-index: 100;
border: 1px solid #dc3232;
background: #fff;
padding: .2em .8em;
width: 24em;
}
.wpcf7-list-item {
display: inline-block;
margin: 0 0 0 1em;
}
.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
content: " ";
}
.wpcf7-spinner {
visibility: hidden;
display: inline-block;
background-color: #23282d; opacity: 0.75;
width: 24px;
height: 24px;
border: none;
border-radius: 100%;
padding: 0;
margin: 0 24px;
position: relative;
}
form.submitting .wpcf7-spinner {
visibility: visible;
}
.wpcf7-spinner::before {
content: '';
position: absolute;
background-color: #fbfbfc; top: 4px;
left: 4px;
width: 6px;
height: 6px;
border: none;
border-radius: 100%;
transform-origin: 8px 8px;
animation-name: spin;
animation-duration: 1000ms;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@media (prefers-reduced-motion: reduce) {
.wpcf7-spinner::before {
animation-name: blink;
animation-duration: 2000ms;
}
}
@keyframes spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
@keyframes blink {
from {
opacity: 0;
}
50% {
opacity: 1;
}
to {
opacity: 0;
}
}
.wpcf7 input[type="file"] {
cursor: pointer;
}
.wpcf7 input[type="file"]:disabled {
cursor: default;
}
.wpcf7 .wpcf7-submit:disabled {
cursor: not-allowed;
}
.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
direction: ltr;
}
.wpcf7-reflection > output {
display: list-item;
list-style: none;
}
.wpcf7-reflection > output[hidden] {
display: none;
}.copy-the-code-inside-wrap .copy-the-code-button {
position: absolute;
right: 0;
top: 0;
}
.copy-the-code-inside .copy-the-code-button {
position: absolute;
right: 0;
top: 0;
}
.copy-the-code-wrap {
display: block;
position: relative;
}
.copy-the-code-wrap .copy-the-code-button {
background: #e1e3e8;
padding: 10px 20px;
cursor: pointer;
box-shadow: none;
color: #424242;
font-size: 14px;
font-weight: normal;
border-radius: 0;
text-transform: capitalize;
border: none;
outline: none;
}
.copy-the-code-wrap .copy-the-code-button:hover {
background: #d0d1d6;
}
.copy-the-code-outside + * {
margin-top: 0;
}
.copy-the-code-outside {
text-align: right;
} .copy-the-code-wrap.copy-the-code-style-svg-icon .copy-the-code-button {
background: transparent;
padding: 0;
}
.copy-the-code-wrap.copy-the-code-style-svg-icon .copy-the-code-button svg {
height: auto;
width: 20px;
fill: #c1c1c1;
}
.copy-the-code-wrap.copy-the-code-style-cover .copy-the-code-button {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
width: 100%;
opacity: 0;
background: rgba(0, 0, 0, 0.5);
font-weight: bold;
color: #fff;
transition: all 0.3s ease-in-out;
padding: 0;
font-size: 12px;
}
.copy-the-code-wrap.copy-the-code-style-cover:hover .copy-the-code-button {
opacity: 1;
}
.copy-the-code-inside-wrap.copy-the-code-style-svg-icon .copy-the-code-button {
padding: 10px;
}
.copy-the-code-wrap.copy-the-code-style-cover {
display: inline-block;
}
.copy-the-code-wrap .copy-the-code-target {
margin-top: 0;
}
.copy-the-code-style-svg-icon .copy-the-code-outside {
height: 32px;
}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table.has-fixed-layout{table-layout:fixed}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table.is-sticky-header:not(.is-stacked-on-mobile) thead{position:sticky;top:0;z-index:1}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table.is-sticky-first-column tr>:first-child{left:0;position:sticky;z-index:1}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table td,.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table th{box-sizing:border-box;min-width:auto;overflow-wrap:anywhere;word-break:normal}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table td img,.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table th img{max-width:100%}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-center,.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-left,.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-right{display:flex;flex-flow:column}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-center figcaption,.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-left figcaption,.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-right figcaption{align-self:stretch}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-left{align-items:flex-start}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-center{align-items:center}.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table.is-content-justification-right{align-items:flex-end}